/*VARIABLES COLORES */
$yellow_ikano: #FFBB03;
$gray_ikano_p: #8A8F95;

.contact_form{
  transition: all 0.8s;//
  position: fixed;
  z-index: 99999;
  overflow: visible;
  height: 100%;
  top: 0;
  right: -30%;
  width: 30%;
  background: #f8f8f9;
  color: #00a1ae;
  box-shadow: 0px 0 10px 2px rgba(0, 0, 0, 0.4);
  @media #{$M900}{
    width: 100%;
    right: -100%;
    overflow-y: scroll;
  }
  #close_form{
    color: $gray_ikano_p;
    float: right;
    font-size: 3.5rem;
    background: #eeeeee;
    border-radius: 50%;
    padding:1.5rem;
    margin-top: 2rem;
    margin-right: 2rem;
    @media #{$M1440}{
      font-size: 3rem;
    }
  }
  .title-form{
    padding-left: 6rem;
    @media #{$m1500}{
      padding-top:2rem;
      padding-bottom:2rem;
      padding-left: 10rem;
    }
    @media #{$M1440}{
      padding-left: 7rem;
    }
    @media #{$M500}{
      padding-left: 6rem;
    }
    h2{
      color: $yellow_ikano;
      font-size: 5rem;
      text-align: left;
      font-weight: 200;
      @media #{$M1440}{
        font-size: 3.5rem;
      }
    }
    p{
      font-size: 2.5rem;
      line-height: 1;
      color: $gray_ikano_p;
      @media #{$M1440}{
        font-size: 2.1rem;
      }
    }
  }
  /* INICIO ESTILOS FORMULARIO IKANO CONNECT*/

  #formulario_ikano{
    @media #{$M900}{
      margin-top: 2rem;
    }
    .label-floating{
      padding-top:1rem;
      padding-bottom: 1rem;
      padding-left: 15%;
      padding-right: 8%;
      margin: 0;
      @media #{$m1500}{
        padding-top:1.6rem;
      }
      @media #{$M1440}{
        padding-left: 14%;
        padding-top:0.5rem;
        padding-bottom: 0.5rem;
      }
      @media #{$M900}{
        padding-left: 7%;
      }
      @media #{$M500}{
        padding-left: 10%;
      }
      &.is-focused, &:not(.is-empty) {
        label.control-label{
          top: -20px;
          left: 15%;
          font-size: 12px !important;
          @media #{$M900}{
            left: 7%;
          }
          @media #{$M500}{
            left: 10%;
          }
        }
      }
      small.error{
        //padding-left: 5%;//
        color: $yellow_ikano;
      }


      .control-label{
        color: #3C4858;
        font-size: 1.8rem;
        padding-left: 1rem;
        text-transform: initial;
      }
      input, textarea{
        //padding-left: 15%;
        //padding-right: 8%;
        font-size: 2rem;
        color: #3C4858;
        @media #{$M1440}{
          font-size: 1.8rem;
        }
      }
      select{
        //padding-left: 14%;
        font-size: 1.8rem;
        color: #3C4858;
        @media #{$M1440}{
          font-size: 1.8rem;
        }
      }
    }
    .form-check{
      padding-left: 9rem;
      padding-right: 6rem;
      @media #{$M1440}{
        padding-left: 6rem;
      }
      .form-check-label{//
        color: $gray_ikano_p;
        a{
          color: $yellow_ikano;
        }
        @media #{$M1440}{
          font-size: 11px;
        }
      }
    }
    .submit-btn{
      //padding: 0.5rem 1rem;
      margin: 0.2rem 0.5rem;
    }
  }

  /* FIN ESTILOS FORMULARIO IKANO CONNECT*/
}
.toggle_form{
  right: 0;//
}