.header{
  width: 100%;
  height: 100vh;
  position: relative;
  background: $blackwopacity;
  .navbar{
    background-color: rgba(0,0,0,0.6);
    .navbar-brand{
      min-height: 90px;
      padding: 0px 15px;
      @media #{$M1440}{
        min-height: 80px;
      }
      @media #{$M500}{
        min-height: 70px;
      }
      img{
        width: 13vw;
        @media #{$m1500}{
          width: 10vw;
        }
      }
      @media #{$M900}{
        height: 50px;
        padding: 0 5px !important;
        img{
          width: 30vw;
        }
      }
    }

    .rrss{
      margin-top: 1vw;
      li{
        a{
          padding: 10px;
          color: $rrss-color !important;
        }
        &:first-child{
          margin-right: 10px;
          a{
            color: white !important;
          }
        }
      }
      @media #{$M900}{
        flex-direction: row;
        display: -webkit-flex;
        -webkit-align-items: end;
        display: flex;
        align-items: end;
        margin-top: 0;
        li{
          display: inline-block;
          -webkit-flex: 1;
          flex: 1;
          &:first-child{
            //order: 5;
            display: block;
            position: relative;
            top: 3vw;
            width: 100%;
            left: 0;
            @media #{$M500}{
              top: 1vw;//
            }
          }

        }
      }
    }
  }


  .header-text-title, .message-title-thankyou{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: $center;
    p{
      font-size: 4vw;
      line-height: 5vw;
      letter-spacing: 2px;
      color: white;
      font-weight: 300;
      @media #{$M900}{
        font-size: 8vw;
        line-height: 8vw;
        padding-left: 1rem;
        padding-right: 1rem;
      }
      span{
        color: $yellow_ikano;
      }
    }
    &:after {
      content: '';
      display: inline-block;
      width: 3vw;
      height: 10px;
      background: $yellow_ikano;
      border-radius: 30px;
      @media #{$M900}{
        width: 15vw;
        height: 5px;
      }
    }
  }

  .message-title-thankyou{
    p{
      font-size: 2.8vw;
      line-height: 4vw;
      padding-bottom: 1rem;
      font-weight: 100;
      &:after {
        content: '';
        display: inline-block;
        width: 3vw;
        height: 10px;
        background: $yellow_ikano;
        border-radius: 30px;
        @media #{$M900}{
          width: 15vw;
          height: 5px;
        }
      }
      @media #{$M900}{

      }
      span{
        font-size: 4vw;
      }
    }
    &:after {
      display: none;
    }
    a.btn{
      padding: 1.5rem 6rem;
    }
  }

  .scrolldownarrow{
    position: absolute;
    width: 100%;
    top: 90%;
    left: 50%;
    transform: $center;
    color: white;
    img{
      width:30px;
    }
    a{
      color: white;
    }
  }
}