.ikano{
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../images/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @media #{$M900}{
    background-image: none;//
    background-color: #EEF5FB;
  }
  .ikanosection{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: $center;
    p{
      font-size: 2vw;
      line-height: 2vw;
      @media #{$M900}{
        font-size: 4vw;
        line-height: 5vw;
      }
      @media #{$M500}{
        font-size: 5vw;
      }
      span{
        color: $yellow_ikano;
      }
    }
    @media #{$m1500}{
      .container{
        width: 80%;
        max-width: 80%;
      }
    }
  }
  .scrolldownarrow{
    position: absolute;
    width: 100%;
    top: 90%;
    left: 50%;
    transform: $center;
    color: white;
    img{
      width:30px;
    }
    a{
      color: #657283;
    }
  }
}