.permite{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: $yellow_ikano;
  background-image: url(../images/sombra.png);
  background-size: contain !important;
  background-position: bottom right !important;
  background-repeat: no-repeat;
  .permitesection{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: $center;
    height: 100vh;
    p{
      &.text-permite{
        font-size: 1.7vw;
        line-height: 1.7vw;
        margin-bottom: 50px;
        @media #{$M900}{
          font-size: 4vw;
          line-height: 5vw;
        }
      }
      &.title-permite{
        font-size: 2.2vw;
        line-height: 2.2vw;
        color: white;
        position: relative;
        @media #{$M900}{
          font-size: 6vw;
          line-height: 7vw;
        }
        &:after {
          content: '...................................';
          display: inline-block;
          position: absolute;
          top: 30%;
          left: 75%;
          transform: $center;
          letter-spacing: 6px;
          @media #{$M900}{
            content: '.........';
          }
        }
      }
    }
    .fixed-content{
      position: absolute;
      width: 50%;
      top: 35%;
      left: 30%;
      transform: $center;
      z-index: 999;
      @media #{$M900}{
        position: absolute;
        width: 90%;
        top: 25%;
        left: 50%;
      }
    }
    .slider-permite{
      min-height: 100vh;
      width: 100%;
      .slide1{
        background-image: url(../images/cel1.png);//
        background-position: center;
        background-size: contain;
        height: 100vh;
        background-repeat: no-repeat;
        background-position-x: 100%;
        @media #{$M900}{
          background-image: none;
        }
      }
      .slide2{
        background-image: url(../images/cel2.png);
        background-position: center;
        background-size: contain;
        height: 100vh;
        background-repeat: no-repeat;
        background-position-x: 100%;
        @media #{$M900}{
          background-image: none;
        }
      }
      .slide3{
        background-image: url(../images/cel3.png);//
        background-position: center;
        background-size: contain;
        height: 100vh;
        background-repeat: no-repeat;
        background-position-x: 100%;
        @media #{$M900}{
          background-image: none;
        }
      }
      .slide4{
        background-image: url(../images/cel4.png);
        background-position: center;
        background-size: contain;
        height: 100vh;
        background-repeat: no-repeat;
        background-position-x: 100%;
        @media #{$M900}{
          background-image: none;
        }
      }
      .slide5{
        background-image: url(../images/cel5.png);
        background-position: center;
        background-size: contain;
        height: 100vh;
        background-repeat: no-repeat;
        background-position-x: 100%;
        @media #{$M900}{
          background-image: none;
        }
      }
      .content-slide{
        position: absolute;
        width: 50%;
        top: 70%;
        left: 30%;
        transform: $center;
        @media #{$M900}{
          position: absolute;
          width: 70%;
          top: 75%;
          left: 50%;
        }
        @media #{$M500}{
          top: 70%;
          left: 50%;
        }
        .img-content-slide{
          text-align: center;
          margin: 0 auto;
          img{
            @media #{$M900}{
              margin: 0 auto;
              text-align: center;
              width: 50%;
            }
            @media #{$M500}{
              width: 55%;
            }
          }
        }
        p{
          font-size: 1.5vw;
          line-height: 1.6vw;
          padding-top: 2rem;
          @media #{$M900}{
            font-size: 4vw;
            line-height: 5vw;
          }
        }
      }
      .owl-controls {
        position: absolute;
        width: 55%;
        top: 70%;
        left: 30%;
        transform: $center;
        padding:0;
        @media #{$M900}{
          position: absolute;
          width: 85%;
          top: 80%;
          left: 50%;
        }
        .owl-prev{
          float:left;
          color: white;
          font-size: 40px;
        }
        .owl-next{
          float:right;
          color: white;
          font-size: 40px;
        }
      }
    }
  }
}