.permite{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: $yellow_ikano;
  background-image: url(../images/sombra.png);
  background-size: contain !important;
  background-position: bottom right !important;
  background-repeat: no-repeat;
  .permitesection{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: $center;
    height: 100vh;
    p{
      &.text-permite{
        font-size: 1.7vw;
        line-height: 1.7vw;
        margin-bottom: 50px;
        @media #{$M900}{
          font-size: 4vw;
          line-height: 5vw;
        }
      }
      &.title-permite{
        font-size: 2.2vw;
        line-height: 2.2vw;
        color: white;
        position: relative;
        @media #{$M900}{
          font-size: 6vw;
          line-height: 7vw;
        }
        //&:after {
        //  content: '...................................';
        //  display: inline-block;
        //  position: absolute;
        //  top: 30%;
        //  left: 75%;
        //  transform: $center;
        //  letter-spacing: 6px;
        //  @media #{$M900}{
        //    content: '.........';
        //  }
        //}
      }
    }
    .fixed-content{
      width: 85%;
      margin: 10vw auto;
      text-align: justify;
      z-index: 999;
      @media #{$M1024}{
        margin: 17vw auto 1vw auto;
      }
      @media #{$M900}{
        margin: 20vw auto 10vw auto;
      }
      @media #{$M500}{
        margin: 30vw auto 10vw auto;
      }
    }
    .slider-permite{
      //min-height: 30vw;
      width: 90%;//
      position: absolute;
      top: 70%;
      left: 50%;
      transform: $center;
      padding-left: 2vw;
      padding-right: 2vw;
      @media #{$M1024}{
        top: 65%;
      }
      @media #{$M900}{
        position: relative;
        top: auto;
        left: auto;
        transform: initial;
        margin: 0 auto;
        padding-left: 4vw;
        padding-right: 4vw;
      }
      .item{
        width: 95%;
        padding-bottom: 2rem;
        margin: 0 auto;
      }
      .content-slide{
        width: 100%;
        margin: 0 auto;
        min-height: 21vw;
        background-color: #fff;
        box-shadow: 0px 2px 7px rgba(0,0,0,0.3);
        border-top: 6px solid #e66d2a;
        @media #{$M1024}{
          min-height: 25vw;
        }
        @media #{$M500}{
        }
        .img-content-slide{
          text-align: center;
          margin: 0 auto;
          img{
            width: 8vw;
            display: block;
            margin: 4rem auto 1rem auto;
            @media #{$M900}{
              width: 20vw;
            }
            @media #{$M500}{
              width: 40%;
              margin: 2rem auto 1rem auto;
            }
          }
        }
        p{
          font-size: 1.2vw;
          line-height: 1.2;
          padding: 1rem 2rem;
          text-align: justify;
          @media #{$M900}{
            font-size: 4vw;
          }
        }
      }
      .owl-controls {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: $center;
        padding:0;
        //@media #{$M900}{
        //  position: absolute;
        //  width: 85%;
        //  top: 80%;
        //  left: 50%;
        //}
        .owl-prev{
          float:left;
          color: white;
          font-size: 40px;
        }
        .owl-next{
          float:right;
          color: white;
          font-size: 40px;
        }
      }
    }
  }
}