.servicios{
  width: 100%;
  height: 100vh;
  position: relative;
  background: $blackwopacity;
  @media #{$M900}{
    height: auto !important;
  }
  .serviciossection{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: $center;
    min-height: 70vh;
    @media #{$m1500}{
      min-height: 55vh;
    }
    @media #{$M900}{
      position: relative;
      width: 100%;
      top: auto;
      left: auto;
      transform: none;
      padding: 25vh 0;
    }

    p{
      &.title-servicos{
        color: white;
        font-size: 2.5vw;
        margin-bottom: 4vw;
        margin-top: 4vw;
        font-weight: 100;
        @media #{$M900}{
          margin-bottom: 40px;
          font-size: 6vw;
          line-height: 7vw;
        }
      }
      &.text-servicios {
        font-size: 1.5vw;
        color: white;
        margin-top: 40px;
        font-weight: 100;
        @media #{$M900}{
          font-size: 3.5vw;
        }
      }
    }

    ul{
      list-style: none;
      text-align: center;
      @media #{$M900}{
        flex-direction: row;
        display: -webkit-flex;
        -webkit-align-items: center;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        justify-content: center;
        flex-wrap: wrap;
      }
      li{
        width: 19%;
        padding: 10px;
        display: inline-block;

        .btn-servicios{
          border: solid 2px white;
          border-radius: 30px;
          background-color: rgba(45,59,73,0.4);
          margin-bottom: 10px;
          padding: 5px;
          min-height: 65px;
          text-align: left;

          img {
            width:  50px;
            @media #{$m1500}{
              width: 70px;
            }
          }

          p {
            color: white;
            display: inline-block;
            font-size: 15px;
            line-height: 15px;
            margin-left: 5px;
            text-align: left;
            vertical-align: -webkit-baseline-middle;
            padding-top: 5px;
            @media #{$m1500}{
              font-size: 30px;
              line-height: 30px;
              min-height: 60px;
            }
          }
        }
        &:nth-of-type(1){
          .btn-servicios{
            &:hover{
              box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 12px -5px rgb(255, 132, 105);
            }
          }
        }
        &:nth-of-type(2){
          .btn-servicios{
            &:hover{
              box-shadow: 0 4px 20px 0px rgba(0,0,0,0.14), 0 7px 12px -5px #00a7e2;
            }
          }
        }
        &:nth-of-type(3){
          .btn-servicios{
            &:hover{
              box-shadow: 0 4px 20px 0px rgba(0,0,0,0.14), 0 7px 12px -5px #003c8f;
            }
          }
        }
        &:nth-of-type(4){
          .btn-servicios{
            &:hover{
              box-shadow: 0 4px 20px 0px rgba(0,0,0,0.14), 0 7px 12px -5px #00685b;
            }
          }
        }
        &:nth-of-type(5){
          .btn-servicios{
            &:hover{
              box-shadow: 0 4px 20px 0px rgba(0,0,0,0.14), 0 7px 12px -5px #b51d25;
            }
          }
        }
        &:nth-of-type(6){
          .btn-servicios{
            &:hover{
              box-shadow: 0 4px 20px 0px rgba(0,0,0,0.14), 0 7px 12px -5px #ff434b;
            }
          }
        }
        &:nth-of-type(7){
          .btn-servicios{
            &:hover{
              box-shadow: 0 4px 20px 0px rgba(0,0,0,0.14), 0 7px 12px -5px #036dd6;
            }
          }
        }
        &:nth-of-type(8){
          .btn-servicios{
            &:hover{
              box-shadow: 0 4px 20px 0px rgba(0,0,0,0.14), 0 7px 12px -5px #007b96;
            }
          }
        }
        &:nth-of-type(9){
          .btn-servicios{
            &:hover{
              box-shadow: 0 4px 20px 0px rgba(0,0,0,0.14), 0 7px 12px -5px #009982;
            }
          }
        }
        @media #{$M900}{
          flex-basis: 50%;
          padding: 4px;
        }
      }
    }
  }

  .scrolldownarrow{
    position: absolute;
    width: 100%;
    top: 90%;
    left: 50%;
    transform: $center;
    color: white;
    img{
      width:30px;
    }
    a{
      color: white;//
    }
  }
}