@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:200,300,400,600');

/*###COLORES###*/
$blackwopacity : rgba(0, 0, 0, 0.4);
$yellow_ikano: #FFBB03;
$rrss-color: #D7DDE0;


/*###TRANSFORM###*/
$center : translateX(-50%) translateY(-50%);

/*###MEDIA QUERYS###*/
$M1440:  "screen and (max-width : 1440px)" !default;
$M1024:  "screen and (max-width : 1024px)" !default;
$M900:  "screen and (max-width : 900px)" !default;
$M500:  "screen and (max-width : 500px)" !default;
$m1500:  "screen and (min-width : 1500px)" !default;

.no-padding{
  padding: 0 !important;
}
.padding-tb-50{
  padding: 50px 0;//
}

.btn-yellow{
  background-color: $yellow_ikano !important;
  color:white !important;
  font-size: 18px !important;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('../images/poster.png') no-repeat;
  background-size: contain;
  transition: 1s opacity;
  &:before{
    content: '';
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .3;
    top: 0;
    left: 0;
  }
}

@media #{$M900}{

  html,
  body{
    overflow-x: hidden;
  }

}